<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="win81" />
  <package id="AutoMapper.Extensions.Microsoft.DependencyInjection" version="1.2.0" targetFramework="win81" />
  <package id="FluentValidation" version="8.6.2" targetFramework="win81" />
  <package id="HockeySDK.Core" version="4.1.6" targetFramework="win81" />
  <package id="HockeySDK.WINRT" version="4.1.6" targetFramework="win81" />
  <package id="MediatR" version="3.0.1" targetFramework="win81" />
  <package id="MediatR.Extensions.Microsoft.DependencyInjection" version="2.0.0" targetFramework="win81" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="win81" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.1.1" targetFramework="win81" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.1.1" targetFramework="win81" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.1" targetFramework="win81" />
  <package id="Microsoft.NETCore.Portable.Compatibility" version="1.0.1" targetFramework="win81" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.1.7" targetFramework="win81" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="2.0.0" targetFramework="win81" />
  <package id="ModernKeePassLib" version="2.44.2" targetFramework="win81" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="win81" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="win81" />
  <package id="SixLabors.Core" version="1.0.0-beta0006" targetFramework="win81" />
  <package id="SixLabors.ImageSharp" version="1.0.0-beta0005" targetFramework="win81" />
  <package id="Splat" version="3.0.0" targetFramework="win81" />
  <package id="System.Buffers" version="4.5.0" targetFramework="win81" />
  <package id="System.Collections" version="4.3.0" targetFramework="win81" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="win81" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="win81" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="win81" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="win81" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="win81" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="win81" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="win81" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="win81" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="win81" />
  <package id="System.Globalization" version="4.3.0" targetFramework="win81" />
  <package id="System.IO" version="4.3.0" targetFramework="win81" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="win81" />
  <package id="System.Linq" version="4.3.0" targetFramework="win81" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="win81" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="win81" />
  <package id="System.Memory" version="4.5.1" targetFramework="win81" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="win81" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="win81" />
  <package id="System.Reflection" version="4.3.0" targetFramework="win81" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="win81" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="win81" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="win81" />
  <package id="System.Runtime" version="4.3.0" targetFramework="win81" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="win81" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="win81" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="win81" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="win81" />
  <package id="System.Runtime.WindowsRuntime" version="4.3.0" targetFramework="win81" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="win81" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="win81" />
  <package id="System.Threading" version="4.3.0" targetFramework="win81" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="win81" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="win81" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="win81" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="win81" />
  <package id="Win2D.win81" version="1.21.0" targetFramework="win81" />
</packages>